/* Estilo general de la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:#d46321;
}
/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:#d46321; /* Fondo blanco */
    border-bottom: 2px solid white; /* Línea naranja entre header y body */
}

.location-text {
    font-size: 16px;  /* Igual al tamaño del texto en los botones */
    padding: 10px 20px; /* Tamaño de los botones */
    color: white;  /* Color del texto del botón */
    border: none;
    border-radius: 5px; /* Borde redondeado similar al del botón */
    text-decoration: none;  /* Evitar subrayado del texto en el enlace */
}

.header-left {
    display: flex;
    align-items: center;
	
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.username {
    font-size: 18px;
    color: white; /* Texto naranja */
}

.header-right button {
    margin-right: 5px;
    padding: 10px 20px;
    background-color: #d46321;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	font-size: 18;
}

.header-right button:hover {
    background-color: #d46321;
}


h1 {
    margin: 0;
}

nav {
    display: flex;
}

nav button {
    background-color:#d46321;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

nav button:hover {
    background-color: #d46321;
    color: white;
}

nav button:not(:last-child) {
    margin-right: 0; /* Sin margen entre botones */
}

.divider {
    border: none;
    height: 3px;
    background-color: white;
    width: 100%;
    margin: 0;
}

/* Contenedor principal */
.login-container {
    display: flex; /* Usamos flexbox para alinear los elementos en una fila */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: calc(100vh - 150px); /* Ajusta la altura de la pantalla */
}

/* Estilo para el título */
h2 {
    position: absolute;
    top: 20px; /* Ajusta esta distancia según la posición que desees */
    width: 100%; /* Ocupa todo el ancho */
    text-align: center; /* Centra el texto */
    margin: 0; /* Elimina cualquier margen por defecto */
    font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
    color: #000; /* Ajusta el color si es necesario */
    font-weight: bold; /* Opcional: puedes hacerlo más destacado */
}

/* Caja de login (recuadro blanco) */
.login-box {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
   width: 90%; /* Aumenta el ancho */
    max-width: 1300px; /* Ancho máximo para evitar que se estire demasiado */
    height: 500px; /* Aumenta la altura */
    margin: 0 auto; /* Centrado horizontal */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    position: relative; /* Necesario para que el título se posicione de manera absoluta dentro del contenedor */
}

/* Caja de login (recuadro blanco) */
.login2-box {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
   width: 70%; /* Aumenta el ancho */
    max-width: 1300px; /* Ancho máximo para evitar que se estire demasiado */
    height: 500px; /* Aumenta la altura */
    margin: 0 auto; /* Centrado horizontal */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    position: relative; /* Necesario para que el título se posicione de manera absoluta dentro del contenedor */
}
.Contacto-box {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
   width: 90%; /* Aumenta el ancho */
    max-width: 1300px; /* Ancho máximo para evitar que se estire demasiado */
    height: 500px; /* Aumenta la altura */
    margin: 0 auto; /* Centrado horizontal */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    position: relative; /* Necesario para que el título se posicione de manera absoluta dentro del contenedor */
}

/* Título centrado */
.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Contenedor de formulario en dos columnas */
.form-section {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 20px;
    height: auto; /* Ajusta la altura según el contenido */

}

/* Estilo para las listas desplegables */
select {
    width: 100%; /* Asegura que el select ocupe todo el ancho disponible */
    padding: 15px; /* Aumenta el relleno interno */
    font-size: 16px; /* Aumenta el tamaño del texto dentro del select */
    border: 1px solid #ccc; /* Borde para el select */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    margin-bottom: 10px; /* Añade un pequeño espacio debajo del select */
}
/* Configuración de columnas */
.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%; /* Cada columna ocupa el 50% del ancho de .form-section */
    box-sizing: border-box;
	height: auto; /* Ajusta la altura según el contenido */

}

/* Inputs ocupan el ancho completo de la columna */
input[type="text"], input[type="password"] {
    width: 100%; /* Asegura que los inputs ocupen todo el ancho disponible */
    padding: 15px; /* Aumenta el relleno interno para hacerlos más grandes */
    font-size: 16px; /* Aumenta el tamaño del texto dentro del input */
    border: 1px solid #ccc; /* Borde para los inputs */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    margin-bottom: 10px; /* Añade un pequeño espacio debajo de cada input */
}
/* Estilo general para inputs y el botón */
.buttonFormulario {
    width: 100%; /* Asegura que tanto los inputs como el botón ocupen todo el ancho disponible */
    padding: 10px; /* Asegura que el contenido del input y el botón tengan el mismo espaciado */
    font-size: 16px; /* Ajusta el tamaño de la fuente para que sea consistente */
    border: 1px solid #ccc; /* Añade un borde común */
    border-radius: 5px; /* Bordes redondeados para inputs y botón */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}


/* Contenedor de la imagen */
.image-section {
    flex: 0.6; /* La imagen ocupa un 50% del ancho */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



.image-section img {
    max-width: 100%;
    max-height: 100%;
}

.form-section h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-section label {
    font-weight: bold;
}

.form-section input {
    margin-bottom: 25px;
	
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border: 1px solid black; /* Bordes de color negro */
    width: 100%;
    box-sizing: border-box;
}

/* Botón de submit del formulario */
.form-section button {
    padding: 10px;
    background-color: #313131;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* El botón ahora tiene el mismo ancho que los inputs */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

/* Línea negra debajo del botón Entrar */
.divider-small {
    border: none;
    height: 2px;
    background-color: #313131;
    width: 100%; /* La línea no llega a los bordes */
    margin: 20px auto; /* Centrado horizontal */
}
form textarea{
    background: none;
    color: black;
    font-size: 1em;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
	border-radius: 5px;
	border: 1px solid black;
	resize: none;
}
form textarea::placeholder {
    color: #7D7D7D; /* Color gris claro para el placeholder */
	font: italic;
	font-size: 18;
}

/* Botón de Registro */
.register-button1 {
    padding: 10px;
    background-color:#1B1B1B;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
	margin-left: 20px;
}
.form-section button:hover {
    background-color: #d46321;
}

footer {
	border-top: 2px solid white; /* Línea naranja entre header y body */
    margin-top: 20px; /* Espacio adicional sobre el pie de página */
    margin-top: auto; /* Asegura que se mantenga al final */
    padding: 20px 0; /* Espacio interno en el pie de página */
    background-color: #d46321;
    color: white;
    width: 100%;
	display: flex;
    justify-content: space-between;
    align-items: center;

}
/* Sección izquierda del pie de página */
.footer-left {
    display: flex;
    align-items: center;
   
}

.footer-logo {
    width: 80px;
    height: 50px;
    margin-right: 10px;
}

/* Sección derecha del pie de página */
.footer-right button {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    margin-left: 15px;
}

.footer-right button:hover {
    text-decoration: underline;
	margin-left: auto;

	
}


